<%= javascript_include_tag "app/helper/const.js" %>

<%= javascript_include_tag "app/helper/common.js" %>
<%= javascript_include_tag "app/helper/builder.js" %>
<%= javascript_include_tag "app/helper/component.js" %>
<%= javascript_include_tag "app/helper/manager.js" %>
<%= javascript_include_tag "app/helper/task.js" %>
<%= javascript_include_tag "app/helper/user.js" %>
<%= javascript_include_tag "app/helper/service.js" %>


<%= javascript_include_tag "app.js" %>

<%= javascript_include_tag "app/helper/notification.js" %>
<%= javascript_include_tag "app/helper/onready.js" %>
