/*
// Place all the styles related to the config controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/



@import url(http://weloveiconfonts.com/api/?family=fontawesome|iconicstroke|entypo);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* iconicstroke */
[class*="iconicstroke-"]:before {
  font-family: 'IconicStroke', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

body {

/*	
  	background: url(bg.jpg) #333333;	
	background-color: #1f1f1f; 
	background-color: #131516;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#33393E), to(#1C1F21));
	background-image: -webkit-linear-gradient(top, #33393E, #1C1F21);
	background-image: -moz-linear-gradient(top, #33393E, #1C1F21);
	background-image: -o-linear-gradient(top, #33393E, #1C1F21);
	background-image: linear-gradient(to bottom, #33393E, #1C1F21);
	background-repeat: repeat-x;
	border-color: #252525;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff33393E', endColorstr='#ff1C1F21', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
*/	
}


h1, h2, h3, h4, h5, h6 {

}

h6 {
  color: #999;
}

blockquote {
  border-left-color: #111;
}
blockquote.pull-right {
  border-right-color: #111;
}

hr {
  -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #ababab;
  border-top: none;
}













.footer {
/*	
	background-color: #131516;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#33393E), to(#1C1F21));
	background-image: -webkit-linear-gradient(top, #33393E, #1C1F21);
	background-image: -moz-linear-gradient(top, #33393E, #1C1F21);
	background-image: -o-linear-gradient(top, #33393E, #1C1F21);
	background-image: linear-gradient(to bottom, #33393E, #1C1F21);
	background-repeat: repeat-x;
	border-color: #252525;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff33393E', endColorstr='#ff1C1F21', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
*/	
}

.control-label-big {
	width:420px;margin-right:20px;	
}

.navbar-inner {
	background-color: #131516;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#33393E), to(#1C1F21));
	background-image: -webkit-linear-gradient(top, #33393E, #1C1F21);
	background-image: -moz-linear-gradient(top, #33393E, #1C1F21);
	background-image: -o-linear-gradient(top, #33393E, #1C1F21);
	background-image: linear-gradient(to bottom, #33393E, #1C1F21);
	background-repeat: repeat-x;
	border-color: #252525;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff33393E', endColorstr='#ff1C1F21', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);

	// by james
	font-size: 13px;
}

.thumbnail {
	padding:0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;

  	border: none;
  	-webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.07), inset 1px 0 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 1);
  	-moz-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.07), inset 1px 0 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 1);
  	box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.4), inset 0 1px 1px rgba(0, 0, 0, 0.15), inset 1px 0 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.15);
/*
	border: 1px solid #ffffff;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);  	
*/	
}	
// end



.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;        // Make inputs at least the height of their button counterpart
  .box-sizing(border-box); // Makes inputs behave like true block-level elements
}

.number-widget-box {
	height: 120px;	
	margin: 20px;
	border: 1px solid #dedede;
	border-bottom: 5px solid #cc4400;
}

.number-widget-contents {
	border-top: 1px solid #dedede;
}

.number-widget-clear {
	clear:both;
}

.number-widget-title {
	color: #999999;
	font-size: 20px;
	text-align: center;
	padding: 10px;
}

.number-widget-number {
	color: #4a4a4a;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	padding: 30px;
}

.number-widget-icon {
	padding-right: 20px;
	color: #d2e1cb;
}

.stack_logo_image {
	padding-top:0px;
	padding-bottom:0px;
	width:275px;
	border: none;	
	height:120px !important;
}

.stack-description {
	border-top:0px solid #ababab;
	padding:10px;
	height: 110px;
	padding-bottom: 4px;
}

/*
.number-widget-number {
	padding-top:1px;
	padding-bottom:1px;
	padding-left: 12px;
	padding-right: 12px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
	-moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
	box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
	background: #202020;
	background-color: rgba(0, 0, 0, 0.3);
	border: 0;
}

.number-widget-desc {
	padding:10px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
	-moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
	box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
	background: #202020;
	background-color: rgba(0, 0, 0, 0.3);
	border: 0;
}
*/

.page-header .header-drawer {
/*  position: absolute; */
  /*height: 34px;
  top: 0px;
  margin-top: 41px;
  width: 100%;
  */

  min-height: 5px;
/*
	margin-left:-25px;
	margin-right:-25px;
*/	
	padding-top:1px;
	padding-bottom: 1px;
	padding-left:25px;	

  
  border-bottom: 1px solid #64be5a;
  background-color: #3b4042;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#59B14F), to(#78C876));
  background-image: -webkit-linear-gradient(top, #59B14F, #78C876);
  background-image: -moz-linear-gradient(top, #59B14F, #78C876 );
  background-image: -o-linear-gradient(top, #59B14F, #78C876);
  background-image: linear-gradient(to bottom, #59B14F, #78C876);
  background-repeat: repeat-x;
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff59B14F', endColorstr='#ff78C876', GradientType=0);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.page-header {
	padding: 0px;
}

.page-header .btn-toolbar {
	padding-right:25px;
}

.page-header .page-title {
	padding:1px;
	padding-left:20px;

	background-color: #131516;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#33393E), to(#1C1F21));
	background-image: -webkit-linear-gradient(top, #33393E, #1C1F21);
	background-image: -moz-linear-gradient(top, #33393E, #1C1F21);
	background-image: -o-linear-gradient(top, #33393E, #1C1F21);
	background-image: linear-gradient(to bottom, #33393E, #1C1F21);
	background-repeat: repeat-x;
	border-color: #252525;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff33393E', endColorstr='#ff1C1F21', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.page-header .page-title2 {
	margin-left:-25px;
	margin-right:-25px;
	padding-top:2px;
	padding-bottom: 2px;
	padding-left:20px;	
	  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
	  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
	  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
	  background: #202020;
	  background-color: rgba(0, 0, 0, 0.3);
	  border: 0;
}

.page-header .page-sub-title {
	padding-top:9px;
	padding-left:25px;		
}

.panel_background {
  background: url(bg.jpg);
  color: #888888; 	
}

.ui-panel-netraheader {
	padding: 10px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #121212;
}

/*
.netra-header {
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#8fc33a),color-stop(100%,#739b2e));
	background-image: -webkit-linear-gradient(top,#8fc33a,#739b2e);
	background-image: -moz-linear-gradient(top,#8fc33a,#739b2e);
	background-image: -o-linear-gradient(top,#8fc33a,#739b2e);
	background-image: linear-gradient(top,#8fc33a,#739b2e);
	border-bottom: 1px solid #567422;
}
*/

.netra-header {background-color:#2a3f5d;border-bottom:1px solid #121b28}

.netra-header-title {
	padding: 15px 10px 10px 81px;
	background: url(netra_logo_64.png) no-repeat 10px 5px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0 1px 0 #4e691f;
}

.netra-title {
	font-family: "Exo",sans-serif;
	padding-bottom: 5px;
	padding-top: 2px;
	border-bottom: 1px #f1f1f1;
	font-size: 2em;
	color: #66ab16;	
}

.netra-icon-panel {background-color:#2a3f5d;}
.netra-icon {background-color:#2a3f5d;}

.netra-form-title {
	font-family: "Exo",sans-serif;
	border-bottom: 1px #f1f1f1;
	font-weight: bold;
	font-size: 1.3em;
	margin-bottom: 15px;
/*	color: #66ab16;	*/
}

.netra-toolbar {
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#B30000),color-stop(100%,#C00000));
	background-image: -webkit-linear-gradient(top,#B30000,#C00000);
	background-image: -moz-linear-gradient(top,#B30000,#C00000);
	background-image: -o-linear-gradient(top,#B30000,#C00000);
	background-image: linear-gradient(top,#B30000,#C00000);
/*	border-bottom: 1px solid #567422;	*/
}

.netra-form-paragraph {
	background-color: #efefef;
	padding: 30px 30px 30px 30px;
	font-size: 15px;
	font-weight: bold;
	font-family: arial,helvetica,verdana,sans-serif;
	margin-bottom: 35px;
/*	border-bottom: 1px solid #aaaaaa; */
}

.netra-form-title-description {
	color: #888888;
	padding-left: 24px;
}

.netra-code-box {
	background-color: #000000;
	color: #00CD66;
	font-family: arial,helvetica,verdana,sans-serif;	
}

.netra-code-preview-box {
	background-color: #000000;
	color: #ffffff;
	font-family: arial,helvetica,verdana,sans-serif;	
}

.netra-log-box {
	background-color: #000000;
	color: #ffffff;
	font-family: arial,helvetica,verdana,sans-serif;	
}

/* for ExtJS Notification */

#instructions ul li {
	list-style-type:disc;
	list-style-position:outside;
	font-size:12px;
	margin:0px 0px 0px 20px;
}

/* Icons */
.ux-notification-icon-information {
	background-image: url('images/icon16_info.png');
}

.ux-notification-icon-error {
	background-image: url('images/icon16_error.png');
}

/* Using standard theme */
.ux-notification-window .x-window-body {
	text-align: center;
	padding: 15px 5px 25px 5px;
}


/* Custom styling */
.ux-notification-light .x-window-header {
	background-color: transparent;
}

body .ux-notification-light {
	background-image: url('images/fader.png');
}

.ux-notification-light .x-window-body {
	text-align: center;
	padding: 15px 5px 20px 5px;
	background-color: transparent;
	border: 0px solid white;
}

/* Notification End */


#view_stack {
    background-color: #fff;
    text-shadow: #fff 0 1px 0;
    position: relative;
    display: block;
    height: auto;
}

#view_stack div.software_stack img {
    margin-bottom: 1px;
}

#view_stack div.software_stack {
    float: left;
    padding: 8px 17px;
    margin: 5px;
/*    margin: 10px 0 0 25px;*/
    text-align: center;
    line-height: 14px;
    color: #333;
    font-size: 10px;
    font-family: "Helvetica Neue",sans-serif;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.x-ie6 #phones div.software_stack,
.x-ie7 #phones div.software_stack,
.x-ie8 #phones div.software_stack {
    border-top: none;
    padding: 3px 2px;
    margin: 2px;
}

#view_stack div.software_stack_hover {
    background-color: #eee;
}

#view_stack .x-item-selected {
    background-color: #D3E1F1 !important;
}

#view_stack div.software_stack strong {
    color: #000;
    display: block;
}

#view_stack div.software_stack span {
    color: #666666;
    font-size: 15px;
    font-weight: bold;
}


.x-grid3-cell-inner, .x-grid3-hd-inner {
	overflow:hidden;
	padding:3px 3px 3px 5px;
	white-space:normal;
}
