<script type="text/javascript">

    var gFaye = new Faye.Client("<%= NETRA_CONFIG['config']['message_server_url'] %>/faye");
    
    var gSubscription = gFaye.subscribe("<%= NETRA_CONFIG['config']['message_channel'] %>", function(message) 
    {
  		// handle message
  		console.log ("hello! = " + message);
		$.bootstrapGrowl(message, {
			ele: 'body', // which element to append to
			type: 'info', // (null, 'info', 'error', 'success')
			offset: {from: 'top', amount: 50}, // 'top', or 'bottom'
			align: 'right', // ('left', 'right', or 'center')
			width: 250, // (integer, or 'auto')
			delay: <%= NETRA_CONFIG['config']['message_delay'] %>,
			allow_dismiss: true,
			stackup_spacing: 10 // spacing between consecutively stacked growls.
		});  		
	});

</script>
