<hr>

<footer class="footer">
    <div class="container">
        <p class="text-center">
        	<strong>Netra & Copyright Reserved by MHR Inc.<Strong>
        </p>
        <p>
        	New Infrastructure Management Tool, Which will enable anything to be ready to use without pain & knowledge, Just select, then click!!!
        </p>
        
    </div>
</footer>