<title>Netra</title>

<%= stylesheet_link_tag "bootstrap-v2.2.2.min.css" %>
<%= stylesheet_link_tag "darkstrap.css" %>
<%= stylesheet_link_tag "application" %>

<!--
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
-->
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


<%= csrf_meta_tag %>

<%= yield(:head) %>
