<dl class="dl-horizontal">
	<dt>Name</dt>
	<dd>
		<div class="well">
	    	{{netra.name}}
	    </div>
	</dd>
	<dt>Stack</dt>
	<dd>
		<div class="well">
	      	{{netra.stack}}
	    </div>
	</dd>
	<dt>Description</dt>
	<dd>
		<div class="well">
	      	{{netra.description}}
	    </div>
	</dd>
	<dt>Layers</dt>
	<dd>
		<div class="well">
	  		<div ng-repeat="layer in netra.layers">
	  			<h5>{{layer.name}}</h5>
	  			<hr>
	      		<table class="table">
	      			<thead>
	      				<th>No.</th>
	      				<th>State</th>
	      				<th>Name</th>
	      				<th>IP</th>
	      				<th>OS</th>
	      			</thead>
	      			<tbody>
	          			<tr ng-repeat="server in layer.servers">
	          				<td> {{$index}} </td>
	          				<td> {{server.state}} </td>
	          				<td><a href="/resource/server?name={{server.name}}">{{server.name}}</a></td>
	          				<td> {{server.ip}} </td>
							<td> {{server.os}} </td>
	          			</tr>
	          		</tbody>
	      		</table>
	      	</div>
	    </div>
	</dd>
	<dt>Parameters</dt>
	<dd>
		<div class="well">
      		<table class="table">
      			<tr ng-repeat="parameter in netra.parameters">
      				<td> {{parameter.key}} </td>
      				<td> {{parameter.value}} </td>
      			</tr>
      		</table>
		</div>
	</dd>
</dl>