<% stacks.each do |stack| %>

	<li id="stack_box_<%= stack['id'] %>">
		<div class="thumbnail">
			
			<div class="stack_box">
				<div class="stack-title">
					<div class="btn-group pull-left">
						<h5>
							<i class="icon-desktop"></i>&nbsp;
							
							<a href="/stack?name=<%= stack['name'] %>" class="text-info"><%= stack['name'] %></a>
						</h5>
					</div>
					<div class="btn-toolbar pull-right">
						<a href="#" class="btn btn-mini btn-success">Update</a>
						<a ng-href="#" class="btn btn-mini btn-danger" ng-click="destroyStack(<%= stack['id'] %>,'<%= stack['name'] %>')">Delete</a>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="stack_image">
					<img src="<%= stack['logo_url'] %>" class="stack_logo_image" alt="">
				</div>
				<div class="stack-description">
<!--					
					<small><%= stack['updated_at'] %></small>						
-->
					<p>
						<%= stack['description'] %>
					</p>
				</div>
			</div>

		</div>
	</li>

<% end %>
