	<li ng-repeat="stack in stacks">
	<div class="thumbnail">
		
		<div class="stack_box">
			<div class="stack-title">
				<div class="btn-group pull-left">
					<h5>
						<i class="icon-desktop"></i>&nbsp;
						
						<a href="#" class="text-info">{{stack.name}}</a>
					</h5>
				</div>
				<div class="btn-toolbar pull-right">
					<a ng-href="#" ng-click="getStack(stack.id,stack.name)" class="btn btn-mini btn-success">Select</a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="stack_image">
				<img src="{{stack.logo_url}}" class="stack_logo_image" alt="">
			</div>
			<div class="stack-description">
				<p>
					{{stack.description}}
				</p>
			</div>
		</div>

	</div>
</li>