<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="/">
<!--
        <i class="icon-maxcdn"></i>
-->
        <img src="/assets/oce-logo.png" width=25 height=25>
        Netra Web
      </a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li>
            <a href="/"><i class="icon-shield"></i>&nbsp;Stack</a>
          </li>
          <li>
            <a href="/resource/host"><i class="icon-tasks"></i>&nbsp;Resource</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-ticket"></i>&nbsp;Provisioning
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/resource/subnets">Network</a></li>
              <li><a href="/resource/dhcp">DHCP</a></li>
              <li><a href="/resource/pxetemplates">PXE Template</a></li>
              <li><a href="/resource/provider">Provider</a></li>
              <li><a href="/resource/pxeos">Operating System</a></li>
              <li><a href="/resource/role">Role</a></li>              
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-truck"></i>&nbsp;Task
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/resource/server">Browse</a></li>
              <li><a href="/resource/puppet">Monitor</a></li>
              <li><a href="/resource/cookbook">Cookbook</a></li>
              <li><a href="/resource/offer">Offer</a></li>             
              <li><a href="/resource/puppet">Puppet</a></li>              
            </ul>
          </li>
          <li>
            <a href="/messages" id="inbox"><i class="icon-inbox"></i>&nbsp;Inbox</a>
          </li>
        </ul>
        <ul class="nav pull-right">
<!--          
          <li>            
            <form class="navbar-search" action="">
              <input type="text" class="search-query span2" placeholder="Search">
            </form>
          </li>
-->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-gear"></i>&nbsp;Config
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if user_signed_in? %>
                <li>
                  <%= link_to("Sign out", destroy_user_session_path, :method => :delete) %>
                </li>
                <li><a href="/users/sign_in">Log in</a></li>
              <% else %>
                <li><a href="/users/sign_in">Log in</a></li>
              <% end %>
              <li><a href="/config/environment">Environment</a></li>          
              <li><a href="/config/user">User Management</a></li>
              <li><a href="/config/proxy">Proxy</a></li>    
            </ul>
          </li>

        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>