<h1>Listing reports</h1>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Runner</th>
      <th>Result</th>
      <th>Msg</th>
      <th>Created at</th>
      <th>Started at</th>
      <th>Finished at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.task_id %></td>
        <td><%= report.runner %></td>
        <td><%= report.result %></td>
        <td><%= report.msg %></td>
        <td><%= report.created_at %></td>
        <td><%= report.started_at %></td>
        <td><%= report.finished_at %></td>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to 'Edit', edit_report_path(report) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path %>
