<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @report.task_id %>
</p>

<p>
  <strong>Runner:</strong>
  <%= @report.runner %>
</p>

<p>
  <strong>Result:</strong>
  <%= @report.result %>
</p>

<p>
  <strong>Msg:</strong>
  <%= @report.msg %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @report.created_at %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @report.started_at %>
</p>

<p>
  <strong>Finished at:</strong>
  <%= @report.finished_at %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
