<!DOCTYPE html>
<html>
	<head>

		<title>Netra Cluster Manager</title>

  		<%= csrf_meta_tag %>

		<%= stylesheet_link_tag "font-awesome.min" %>
		<%= stylesheet_link_tag "prettify" %>
		<%= stylesheet_link_tag "ext-all" %>
		<%= stylesheet_link_tag "codemirror" %>
		<%= stylesheet_link_tag "netra" %>


  		<%= javascript_include_tag "ext-all-debug.js" %>
		<%= javascript_include_tag "codemirror.js" %>
		
		<%= javascript_include_tag "jquery.min.js" %>
		<%= javascript_include_tag "highcharts.js" %>
		<%= javascript_include_tag "highcharts-more.js" %>

	</head>

	<body>
		<%= yield %>
	</body>

</html>